.mainContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.mainSmallContainer {
    margin-bottom: 10px;
}

.rowContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.columnContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    min-width: 500px;
}

.label {
    min-width: 300px;
}

.labelMedium {
    width: 200px;
    padding: 0 10px;
}

.labelSmall {
    margin-bottom: 10px;
}
