.logo {
    cursor: pointer;

    font-family: Roboto, serif;
    font-size: 22px;
    font-weight: 480;
    font-style: normal;
    line-height: 38px;
    color: #000;
    text-decoration: none;
}

.box {
    width: 350px;
}

.rowContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.settingsIcon {
    font-size: 40px;
    transition: 0.5s;
}

.settingsIcon:hover {
    color: #000;
}

.logoImage {
    height: 48px;
}
