.mainContainer {
    display: flex;
    justify-content: space-between;
    max-width: 58vw;
}

.inlineContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 10px;
}

.button {
    margin: 0 20px;
}

.deviceGrid {
    margin-right: 30px;
}

@media (width <= 1840px) {
    .mainContainer {
        overflow-x: scroll;
        overflow-y: scroll;
        flex-direction: column;
        max-height: 70vh;
    }

    .deviceGrid {
        margin-bottom: 30px;
    }
}
