.overflowYHidden {
    overflow-y: auto;
    max-height: 54vh;
}

.rowTypes {
    min-width: 125px;
}

.rowCals {
    min-width: 110px;
}

.rowChannels {
    min-width: 110px;
}

@media (width <= 1580px) {
    .overflowYHidden {
        max-height: 23vh;
    }
}
