.header {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.menu {
    display: flex;
    justify-content: flex-start;

    width: 4000px;
    padding-bottom: 10px;
    padding-left: 30px;

    border-bottom: solid 1px #f3f3f3;
}

.ml {
    margin-left: 1em;
}

.datepicker {
    margin: 0 4px;
}
