.converterHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95vw;
}

.text {
    font-size: 22px;
    font-weight: 600;
    line-height: 38px;
    color: #000;
    text-decoration: none;
}

.listContainer {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    width: 95vw;
    height: 68vh;
}
