.itemContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 273px;
    margin-bottom: 20px;
    padding: 20px 12px;

    background-color: #f2f2f2;
    border-radius: 25px;
}

.name {
    align-self: flex-start;

    margin-bottom: 5px;

    font-size: 22px;
    font-weight: 600;
    line-height: 38px;
    color: #000;
    text-decoration: none;
}

.info {
    margin-bottom: 10px;
    padding: 20px;

    background: #fff;
    border: 2px solid #8b8b8b;
    border-radius: 25px;
}

.radioGroup {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.radioLabel {
    font-size: 14px;
}

.radioInput {
    margin-right: 5px;
}
